<div class="jst-template" name="Editor">
    <div class="item" name="body">
        <ul id="menu-bar">
            <li><a href="#">Specification</a>
                <ul>
                    <li class="sub1"><a class="dialog-link" href="#new_specification">New</a></li>
                    <li class="sub1"><a class="dialog-link" href="#show_specifications">Load</a></li>
                </ul>
            </li>
            <li><a href="#">Help</a>
                <ul>
                    <li class="sub1"><a href="#">About</a></li>
                    <li class="sub1"><a href="#edit/specification_example">Examples</a></li>
                </ul>
            </li>
        </ul>

        <div class="custom-modal" aria-hidden="true"></div>
    </div>
</div>